<div id="slider" class="nivoSlider">
  <%= image_tag 'demo3.png' %>
  <%= image_tag 'demo2.png' %>
  <%= image_tag 'demo1.png' %>
</div>
	    
<div class="mini-nav">
  <div class="description">Pensjonat</div>
  <ul>
    <li><%= link_to "O stacji", station_index_url, :class => "#{ set_selected_class("front_station", "index") }" %></li>
    <li><%= link_to "Oferta", station_offer_url, :class => "#{ set_selected_class("front_station", "offer") }" %></li>
    <li><%= link_to "Galeria", station_gallery_url, :class => "#{ set_selected_class("front_station", "gallery") }" %></li>
    <li><%= link_to "Cennik", station_prices_url, :class => "#{ set_selected_class("front_station", "prices") }" %></li>    
    <li><%= link_to "Kontakt", contact_url %></li>
  </ul>
</div>
<div class="mini-nav-shadow"></div>
