<%= render :partial => "slider" %>
<h2><%= t('acco.pricelist') %></h2>

<table width="100%">
  <tr>
    <th width="80%"><%= t('acco.service') %></th>
    <th width="20%"><%= t('acco.price') %></th>
  </tr>
  <% @prices.each do |price| %>
    <tr>
      <td><%= price.description %></td>
      <td><%= price.value %> zł</td>
    </tr>
  <% end %>
</table>

<div class="clearspace"></div>
