<div id="slider" class="nivoSlider">
  <%= image_tag 'pension/slide1.jpg', :alt => "" %>
  <%= image_tag 'gl1.jpg', :alt => "" %>
  <%= image_tag 'gl3.jpg', :alt => "" %>
  <%= image_tag 'gl2.jpg' %>
</div>
<h2><%= t('welcome_to') %> A-prim</h2>
<p><strong>A-Prim Sp. z.o.o</strong> swą działalność na rynku paliwowym rozpoczęła w 2001 r.
 Jako partnerska stacja koncernu <strong>Slovnaft</strong> oferuje najwyższą jakość paliwa oraz konkurencyjne ceny.
 <br><br>
 Gospodarstwo Agroturystyczne <strong>A-Prim</strong> to nowoczesny ośrodek specjalizujący się w chowie i hodowli koni oraz turystyce.</p>
<div class="clearspace" style="height: 20px;"></div>
<div class="junction">
	<%= link_to t('stable'), stable_index_url, :class => 'triple farm' %> 
  
  <%= link_to t('pension'), pension_index_url, :class => 'triple home' %>
  
  <%= link_to t('station'), station_index_url, :class => "triple gas" %>
  
  <p class="triple-p">Stajnia A-Prim w Grojcu jest nowym pensjonatem dla koni ,który powstał z myślą o ludziach
ceniących sobie profesjonalnizm.</p>
  <p class="triple-p">Pensjonat agroturystyczny położony
jest na terenie pięknego Ośrodka Jeździeckiego w malowniczej miejscowości Grojec.</p>
  <p class="triple-p">Jako partner Slovnaft Polska S.A. oferujemy zaawansowane technologicznie paliwa, benzyny oraz oleje napędowe.</p>

<div class="clearspace"></div>
<a href="http://www.eholiday.pl/noclegi-rf4034.html" title="A-Prim Grojec" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1a.gif" alt="A-Prim Grojec" border="0" width="52" height="26" /></a><a href="http://www.eholiday.pl/noclegi-grojec-11961.html" title="noclegi Grojec" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1b.gif" alt="noclegi Grojec" border="0" width="22" height="26" /></a><a href="http://www.eholiday.pl" title="noclegi" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1c.gif" alt="noclegi" border="0" width="22" height="26" /></a>      
</div>

<div class="clearspace"></div>
