<div id="slider" class="nivoSlider">
  <%= image_tag 'station/slide5.jpg', :alt => "" %>
  <%= image_tag 'pension/slide3.jpg', :alt => "" %>
  <%= image_tag 'pension/slide1.jpg', :alt => "" %>
</div>
<h2>Witamy w A-prim</h2>
<p>Serdecznie Zapraszamy do nowo otwartego Pensjonatu Agroturystycznego A-Prim, który położony
jest na terenie pięknego Ośrodka Jeździeckiego w malowniczej miejscowości Grojec oddalonej o
jedyne 5 km od miasta Oświęcim.</p>
<div class="clearspace" style="height: 20px;"></div>
<div class="junction">
	<%= link_to 'Stajnia', stable_index_url, :class => 'triple farm' %> 
  
  <%= link_to 'Pensjonat', pension_index_url, :class => 'triple home' %>
  
  <%= link_to 'Stacja paliw', station_index_url, :class => "triple gas" %>
  
  <p class="triple-p">Stajnia A-Prim w Grojcu jest nowym pensjonatem dla koni ,który powstał z myślą o ludziach
ceniących sobie profesjonalnizm.</p>
  <p class="triple-p">Pensjonat agroturystyczny położony
jest na terenie pięknego Ośrodka Jeździeckiego w malowniczej miejscowości Grojec.</p>
  <p class="triple-p">tekst o stacji</p>
      
</div>
<div class="clearspace"></div>
