<div id="slider" class="nivoSlider">
  <%= image_tag 'pension/slide1.jpg', :alt => "" %>
  <%= image_tag 'gl1.jpg', :alt => "" %>
  <%= image_tag 'gl3.jpg', :alt => "" %>
  <%= image_tag 'gl2.jpg' %>
</div>
<h2><%= t('welcome_to') %> A-PRIM</h2>
<p><strong>A-PRIM Sp. z.o.o</strong> <%= t('intro') %> <strong>Slovnaft</strong> <%= t('intro_2') %> 
 <br><br>
 <%= t('intro_3') %></p>
<div class="clearspace" style="height: 20px;"></div>
<div class="junction">
	<%= link_to t('stable'), stable_index_url, :class => 'triple farm' %> 
  
  <%= link_to t('pension'), pension_index_url, :class => 'triple home' %>
  
  <%= link_to t('station'), station_index_url, :class => "triple gas" %>
  
  <p class="triple-p"><%= t('triple_stable') %></p>
  <p class="triple-p"><%= t('triple_pension') %></p>
  <p class="triple-p"><%= t('triple_station') %></p>

<div class="clearspace"></div>
<a href="http://www.eholiday.pl/noclegi-rf4034.html" title="A-Prim Grojec" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1a.gif" alt="A-Prim Grojec" border="0" width="52" height="26" /></a><a href="http://www.eholiday.pl/noclegi-grojec-11961.html" title="noclegi Grojec" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1b.gif" alt="noclegi Grojec" border="0" width="22" height="26" /></a><a href="http://www.eholiday.pl" title="noclegi" target="_blank"><img src="http://www.eholiday.pl/img/partner/l1c.gif" alt="noclegi" border="0" width="22" height="26" /></a>      
</div>

<div class="clearspace"></div>
