<div style="height: 306px;">
	<div id="slider" class="nivoSlider">
		<%= image_tag 'pension/slide5.jpg' %>
		<%= image_tag 'pension/slide6.jpg' %>
		<%= image_tag 'pension/slide7.jpg' %>
		<%= image_tag 'pension/slide8.jpg' %>
		<%= image_tag 'pension/slide9.jpg' %>
	</div>
</div>
	    
<div class="mini-nav">
  <div class="description"><%= t('pension') %></div>
  <ul>
    <li><%= link_to t('acco.about'), pension_index_url, :class => "#{ set_selected_class("front_pension", "index") }" %></li>
    <li><%= link_to t('acco.rooms'), pension_rooms_url, :class => "#{ set_selected_class("front_pension", "rooms") }" %></li>
    <li><%= link_to t('gallery'), pension_gallery_url, :class => "#{ set_selected_class("front_pension", ["gallery", "gallery_show"]) }" %></li>
    <li><%= link_to t('acco.attractions'), pension_attractions_url, :class => "#{ set_selected_class("front_pension", "attractions") }" %></li>
    <li><%= link_to t('acco.pricelist'), pension_prices_url, :class => "#{ set_selected_class("front_pension", "prices") }" %></li>
     <li><%= link_to t('acco.reservations'), pension_reservations_url, :class => "#{ set_selected_class("front_pension", "reservations") }" %></li>
    <li><%= link_to t('contact'), contact_url %></li>
  </ul>
</div>
<div class="mini-nav-shadow"></div>
