<%= render :partial => "slider" %>

<h2><%= t('view_gallery') %></h2>
<%= @gallery.name %><br>
<%= link_to t('return_gallery'), pension_gallery_url %><br>
<div class="clearspace"></div>
	<div class="gallery-holder">

		<% @gallery.photos.each do |photo| %>
			<div class="gallery-display-small">
				<%= link_to( image_tag(photo.photo.small.url), photo.photo.url, :class => "group1 cboxElement" ) %>
			</div>
		<% end  %>
	</div>
<div class="clearspace"></div>
