<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label, "Miejsce" %><br />
    <%= f.select :label, options_for_select(Price::LABELS) %>
  </div>
  <div class="field">
    <%= f.label :description, "Opis" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :value, "Wartość" %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
