<%= render :partial => "slider" %>

<h2>Czytaj archiwalnego newsa:</h2>
<%= link_to "Powrót do archiwum >>", stable_archives_url %>

<h2><%= @info.title %></h2>
<p><%= @info.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
<div>
  <%= image_tag(@info.image.small.url) if @info.image.present? %><br>
  <%= raw @info.content %>
</div>
