<%= render :partial => "slider" %>

<h2><%= t('archive.archive') %></h2>

<% @infos.each do |info| %>
  <h2><%= link_to info.title, stable_archives_show_url(info) %></h2>
  <p><%= info.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
  <div>
    <%= image_tag(info.image.small.url) if info.image.present? %><br>
    <%= raw info.content %>
  </div>  
  <div class="clearspace"></div>
<% end %>
