<%= render :partial => "slider" %>

<h2>Aktualności</h2>

<% @infos.each do |info| %>
  <h2><%= link_to info.title, stable_infos_show_url(info) %></h2>
  <p><%= info.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
  <div>
    <%= image_tag(info.image.small.url) %><br>
    <%= raw info.content %>
  </div>  
  <div class="clearspace"></div>
<% end %>


galer
200x150 fill
