<%= render :partial => "slider" %>

<h2>Czytaj newsa:</h2>
<%= link_to "Powrót do aktualności >>", stable_infos_url %>

<h2><%= @info.title %></h2>
<p><%= @info.created_at.strftime("%d-%m-%Y %H:%M:%S") %></p>
<div>
  <%= image_tag(@info.image.small.url) %><br>
  <%= raw @info.content %>
</div>
