<%= render :partial => "slider" %>

<span class="date-ribbon"><span><%= @info.created_at.strftime("%d") %></span><br><%= @info.created_at.strftime("%B") %></span>
<h2><%= @info.title %></h2>
  <div class="news-image">
  <%= image_tag(@info.image.small.url) if @info.image.present? %>
  </div>
  <div class="akt-text">
  <%= raw @info.content %>
	</div>
	<br>
	<%= link_to "« Wróć do aktualności", stable_infos_url %>
<div class="clearspace"></div>
