<%= render :partial => "slider" %>

<% @infos.each do |info| %>
	<span class="date-ribbon"><span><%= info.created_at.strftime("%d") %></span><br><%= info.created_at.strftime("%B") %></span>
  <h2><%= link_to info.title, stable_infos_show_url(info) %></h2>
  <div class="news-image">
    <%= image_tag(info.image.small.url) if info.image.present? %><br>
  </div>
  <div class="akt-text">
    <%= raw info.content.truncate(500) %><br>
    <%= link_to 'Czytaj więcej »', stable_infos_show_url(info), :class => 'more-link' %>
  </div>
  <div class="clearspace news-sep"></div>
<% end %>
