<%= form_for(@info, :html => {:multipart => true}) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title, "Tytuł" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Treść" %>
    <%= f.tinymce :content %>
  </div>
  <div class="field">
    <%= image_tag(@info.image.thumb.url) if @info.image.present? %><br />
    <%= f.label :image, "Grafika" %><br />
    <%= f.file_field :image %>
  </div>

  
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
