<!DOCTYPE html>
<html>
  <head>
    <title>A-prim - Panel administracyjny</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Questrial|Istok+Web&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%#= javascript_include_tag "jquery-1.7.2.min.js" %>
    <%#= javascript_include_tag "application_jquery.js" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= tinymce_javascript_tag "pages" %>
  </head>
  <body>
    <div class="main-wrapper">
      <% if alert.present? %>
	<p class="flash-error" id="error"><%= alert %></p>
	<script type="text/javascript">
	  $(document).ready(function() {
	  $("p.flash-error").delay(5000).fadeOut(5000);
	  });
	</script>
      <% end %>
      <% if notice.present?  %>
	<p class="flash-notice" id="notice"><%= notice %></p>
	<script type="text/javascript">
	  $(document).ready(function() {
	  $("p.flash-notice").delay(5000).fadeOut(5000);
	  });
	</script>
      <% end %>
      
      
      
      <header>Panel Administracyjny</header>
      <% if session[:admin_loggedin] %>
	
	<nav class="breadcrumbs">
	  <div style="width: 25%; float: left;">
	    Zalogowano jako: <strong><%= session[:account_type] %> | <%= link_to "wyloguj", admin_logout_url %></strong>
	    
	    <span class="next-sep">&nbsp;</span>
	  </div>
	  <% if false %>
	    <%= link_to "Strona Głowna", admin_url %>
	    <%= link_to "Ustawienia", "#" %>
	  <% end %>
	  <%= link_to 'pl', set_language_url(:locale => 'pl'), :class => "#{'lang_selected' if session[:locale] == 'pl'}" %> |
	  <%= link_to 'en', set_language_url(:locale => 'en'), :class => "#{'lang_selected' if session[:locale] == 'en'}" %> |
	  <%= link_to 'de', set_language_url(:locale => 'de'), :class => "#{'lang_selected' if session[:locale] == 'de'}" %> |
	  <%= link_to 'ru', set_language_url(:locale => 'ru'), :class => "#{'lang_selected' if session[:locale] == 'ru'}" %> |
	</nav>
	<div class="admin-content">
	  <aside class="main-nav">
	    <ul>
	      <li><%= link_to "Strony informacyjne", pages_url %></li>
    	      <li><%= link_to "Aktualności", infos_url %></li>
	      <li><%= link_to "Albumy", galleries_url %></li>
	      <li><%= link_to "Cenniki", prices_url %></li>
	    </ul>
	  </aside>

      <% end %>  
      <div class="page-content">
	<%= yield %>
      </div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
