<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext" %>
  <%= stylesheet_link_tag "nivo-slider.css" %>
  <%= stylesheet_link_tag "colorbox.css" %>
  
  <%= javascript_include_tag "jquery-1.7.2.min.js" %>
  <%= javascript_include_tag "jquery.nivo.slider.js" %>
  <%= javascript_include_tag "jquery.colorbox.js" %>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
      
        var myOptions = {
          center: new google.maps.LatLng(49.97142,19.21889),
          zoom: 14,
	  mapTypeControl: false,
	  streetViewControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      var image = '/assets/map-pointer.png';
      var myLatlng = new google.maps.LatLng(49.97142,19.21889);
      var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"A-prim",
      icon: image 
 			 });
 			 }
    </script>
<style>
#map_canvas { height: 100% }
</style>

  
  <script>
    $(document).ready(function(){
      $(".group1").colorbox({
      	rel:'group1',
      	maxWidth: '90%',
      	maxHeight: '90%'
      	
      	});
    });
  </script>
  <title>A-prim</title>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider({
        controlNav: false,
        pauseTime: 3000,
        directionNav: false,
        randomStart: true
      });
    });
  </script>
</head>

<body onload="initialize()">
  <!-- start header partial -->
  <header>
    <div class="logo-area">
      <% if params[:controller] == 'front_pension' %>
    	<%= link_to image_tag('logo-pensjonat.png'), root_path %>
      <% elsif params[:controller] == 'front_stable' %>
    	<%= link_to image_tag('logo-stajnia.png'), root_path %>
      <% elsif params[:controller] == 'front_station' %>
    	<%= link_to image_tag('logo-stacja.png'), root_path %>
      <% else %>
    	<%= link_to image_tag('logo.png'), root_path %>
      <% end %>
    </div>
  </header>
  <nav>    
    <%= link_to 'Strona Główna', root_path, :class => "#{ set_selected_class("home", "index") }" %>
    <%= link_to 'Stajnia', stable_index_url, :class => "#{ set_selected_class("front_stable") }" %>
    <%= link_to 'Noclegi', pension_index_url, :class => "#{ set_selected_class("front_pension") }" %>
    <%= link_to 'Stacja paliw', station_index_url, :class => "#{ set_selected_class("front_station") }" %>
    <%= link_to 'Kontakt', contact_url, :class => "#{ set_selected_class("home", "contact") }" %>
  </nav>
  <div class="clearspace"></div>
  <!-- end header partial -->

  <div class="main-book-outer">
    <div class="main-book">
      
      <div class="page1">
	<div class="page2">
	  <div class="main-page">
	    <%= yield %>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!-- start footer partial -->
  <div class="clearspace"></div>
  <footer>
    A-prim © 2012 |
    <%= link_to 'pl', set_language_url(:locale => 'pl'), :class => "#{'lang_selected' if session[:locale] == 'pl'}" %> |
    <%= link_to 'en', set_language_url(:locale => 'en'), :class => "#{'lang_selected' if session[:locale] == 'en'}" %> |
    <%= link_to 'de', set_language_url(:locale => 'de'), :class => "#{'lang_selected' if session[:locale] == 'de'}" %> |
    <%= link_to 'ru', set_language_url(:locale => 'ru'), :class => "#{'lang_selected' if session[:locale] == 'ru'}" %> |
    <%= t('hello') %>
    <span>
      <%= link_to 'Strona Główna', root_path %> |
      <%= link_to "Kontakt", contact_url %> |
      <%= link_to "Archiwum", stable_archives_url %> |
      <a href="http://jalokimgraphics.pl" target="_blank">JalokimGraphics</a>
    </span>
  </footer>
  <!-- end footer partial -->
</body>
</html>
